<!DOCTYPE html>
<html>
<head>
    <title>Real-time Chart with API Data</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
<div id="chart"></div>
<script>
    var trace1 = {
        x: [],
        y: [],
        type: 'scatter',
        mode: 'lines',
        name: 'Real-time Data'
    };

    var data = [trace1];

    var layout = {
        title: 'Real-time Chart with API Data',
        xaxis: {
            title: 'Time'
        },
        yaxis: {
            title: 'Value'
        }
    };

    Plotly.newPlot('chart', data, layout);

    setInterval(function() {
        fetch('/api/current-temperature')
            .then(response => response.json())
            .then(data => {
                var x = new Date().getTime();
                var y = data;
                trace1.x.push(x);
                trace1.y.push(y);
                Plotly.relayout('chart', {data: data});
            });
    }, 1000);
</script>
</body>
</html>